/* ==UserStyle==
@name           RedditFix
@namespace      https://github.com/unknooly/css-themes
@updateURL      https://github.com/unknooly/css-themes/raw/main/redditfix.user.css
@version        1.0.0
@description    Fix some stuff on Reddit
@author         Chaos (https://github.com/unknooly)
==/UserStyle== */

@-moz-document url-prefix("https://www.reddit.com"){

/* makes main page centralized */
[id="subgrid-container"]>[class*="main-container"]{
    grid-template-columns: none;
}

[id="right-sidebar-container"] /* right sidebar container on main page */
,[noun="edit_avatar"] /* avatar editing on pfp menu */
,[noun="user_drawer"] /* achievements on pfp menu */
{
    display: none !important;
}

/* ADS */
[data-part="advertise"] /* ad to advertise on top bar */
,[noun="entrypoint"] /* earn on pfp menu */
,[noun="premium_menu"] /* premium on pfp menu */
,[class="w-100 p-0 m-0 list-none my-xs"]:has([noun="advertise"]) /* advertise/try pro on pfp menu */
,[class="h-px w-100 bg-neutral-border-weak border-0"] /* pfp menu line separators */
{
    display: none !important;
}

}/* moz-document */