/* ==UserStyle==
@name           TwitterColors
@namespace      https://github.com/unknooly/css-themes
@version        1.0.6
@description    Change color of Twitter (X)
@author         Chaos (https://github.com/unknooly)

@preprocessor stylus

@var color bg "Background" #181818
@var color bg2 "Secondary background" #242424
@var color search "Search button background" #202020
@var color bd "Borders" #2e2e2e
@var color bt "Buttons and texts" #e699eb
@var color bt2 "Buttons when hovered" #d659de
@var color str "Text inside the buttons" black
@var color str2 "Alternative text inside buttons" white

==/UserStyle== */

@-moz-document url-prefix("https://x.com") {

/* main page little header >> section selector border-bottom */
.css-175oi2r.r-xoduu5.r-1kihuf0.r-sdzlij.r-1p0dtai.r-hdaws3.r-s8bhmr.r-u8s1d.r-13qz1uu
,a[href="/messages/compose"][data-testid="empty_state_button_text"] /* "New message" button on dm*/
,[class*="r-l5o3uw"] /* menu item of reply scope while creating a post */
{
	background-color: bt !important;
}

/* "Reply" button - accompanies each post */
[data-testid="tweetButton"]{
	background-color: bt !important;
} [data-testid="tweetButton"]:hover{
	background-color: bt2 !important;
}
/* "Reply" button - fixed on top the page */
[aria-label="Reply"] span{
	color: str !important;
}[aria-label="Reply"]{
	background-color: bt2;
	border-color: bd; /* doesn't really matter */
}

/* main page little header */
[class*="r-ii8lfi"]{
	background-color: rgba(24,24,24,0.8); 
	/* if opacity is used, then it won't have the blur effect */
}

body /* both sidebars */
,[class*="r-yfoy6g"] /* timeline and search bar (padded by another css file) */
{
	background-color: bg !important;
}

/* search bar */
[class="r-8erxvq"]{
	background-color: search;
}

[class*="r-1cvl2hr"] /* notification icon (inside notifications menu) */
,[aria-label="Add post"]>div>svg /* "+" button while creating a post */
{
	color: bt !important;
}

/* borders */
[class*="r-1ila09b"] /* timeline horizonal lines */
,[class*="r-18bvks7"] /* timeline vertical lines and media */
,[class*="r-126aqm3"] /* border of div(interaction counters) inside tweet analytics */
,[class*="r-rs99b7 r-lrvibr r-6gpygo"] /* inside other user's profile */
,button[aria-label*="Following "] /* "Following"/"Unfollow" button */
{
	border-color: bd !important;
}

/* "Unfollow" button */
[class="css-175oi2r r-sdzlij r-1phboty r-rs99b7 r-lrvibr r-2yi16 r-1qi8awa r-3pj75a r-1loqt21 r-o7ynqc r-6416eg r-qqmkd0 r-1ny4l3l"]{
	background-color: #AC1D1B;
} [class="css-175oi2r r-sdzlij r-1phboty r-rs99b7 r-lrvibr r-2yi16 r-1qi8awa r-3pj75a r-1loqt21 r-o7ynqc r-6416eg r-qqmkd0 r-1ny4l3l"] span{
	color: str2 !important;
} [class="css-175oi2r r-sdzlij r-1phboty r-rs99b7 r-lrvibr r-2yi16 r-1qi8awa r-3pj75a r-1loqt21 r-o7ynqc r-6416eg r-qqmkd0 r-1ny4l3l"]>*>span::before{
	content:"💔 ";
} [aria-label*="Following "] span[class="css-1jxf684 r-bcqeeo r-1ttztb7 r-qvutc0 r-poiln3"]{
	color: str;
}

/* "Follow" button */
[class="css-175oi2r r-sdzlij r-1phboty r-rs99b7 r-lrvibr r-2yi16 r-1qi8awa r-3pj75a r-1loqt21 r-o7ynqc r-6416eg r-1ny4l3l"]{
	background-color: bt !important;
} [aria-label*="Follow "] [class="css-1jxf684 r-bcqeeo r-1ttztb7 r-qvutc0 r-poiln3"]{
	color: str;
} [class="css-175oi2r r-sdzlij r-1phboty r-rs99b7 r-lrvibr r-2yi16 r-1qi8awa r-3pj75a r-1loqt21 r-o7ynqc r-6416eg r-jc7xae r-1ny4l3l"]{
	background-color: #1BAC72;
}
[class="css-175oi2r r-sdzlij r-1phboty r-rs99b7 r-lrvibr r-2yi16 r-1qi8awa r-3pj75a r-1loqt21 r-o7ynqc r-6416eg r-jc7xae r-1ny4l3l"]>*>span::before{
	content:"💓 ";
} [class="css-175oi2r r-sdzlij r-1phboty r-rs99b7 r-lrvibr r-2yi16 r-1qi8awa r-3pj75a r-1loqt21 r-o7ynqc r-6416eg r-jc7xae r-1ny4l3l"] span{
	color: str2 !important;
}

/* media bg (while hovering, it was changing colors) */
[class*="r-18bvks7"]
{
	background-color: transparent;
}

/* line inside tweet analytics and between timeline posts */
[class*="r-kuekak"]
,[class*="r-157er04"] /* thread/replies lines */
{
	background-color: bd;
}

/* "Post" buttons aka old "Tweet" button */
[aria-label="Post"],
button[data-testid="tweetButtonInline"]{
	background-color: bt !important;
	border: 1px solid bd !important;
}

/* "Post" buttons hovered */
[aria-label="Post"]:hover,
button[data-testid="tweetButtonInline"]:hover{
	background-color: bt2 !important;
}

/* strings */
a[href="/compose/post"]>* /* "Post" big button */
,button[data-testid="tweetButtonInline"]>* /* "Post" small button */
,a[href="/messages/compose"]>* /* "New message" */
{
	color: str !important;
}

/* fix visibility of location svg on new Post inside main timeline */
[class*="r-icoktb"]{
	opacity: 1;
	/* this also fixes the location sharing icon */
}

/* svgs of timeline posting menu */
svg[aria-hidden="true"][class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-lrvibr r-m6rgpd r-z80fyv r-19wmn03"]{
	fill: bt !important;
}

/* verified symbol */
svg[aria-label="Verified account"]{
	fill: bt !important;
}

/* new unread posts (circle notification on left sidebar) */
[aria-label*="unread items"]{
	background-color: bt;
} [aria-label*="unread items"]>span{
	color: str;
}

/* new notifications' bg on notification page */
[class="css-175oi2r r-1mmae3n r-3pj75a r-1w2mbsr r-o7ynqc r-6416eg r-1ny4l3l r-1loqt21"]{
	background-color: bg2 !important;
}

/* "Follows you" div */
[data-testid="userFollowIndicator"]{
	background-color: bg2;
	position: relative; top: 2px;
	margin: 5px;
	padding: 5px;
	font-size: 0.8em;
}

/* profile picture bg */
[class="css-175oi2r r-1pi2tsx r-13qz1uu"]{
	background-color: bg2 !important;
}

/* muted/block tweets */
[class*="r-g6ijar"]{
	background-color: bg2 !important;
	border-color: bd !important;
	/* line below looks cool but it's out of place */
	/* box-shadow: 0 0 4px 1px black; */
}

/* loading circle */
circle[r="14"]
,[stroke-linecap="round"]{
	stroke: bt !important;
}



/* strings */
div[class="css-146c3p1 r-bcqeeo r-qvutc0 r-1qd0xha r-q4m81j r-a023e6 r-rjixqe r-16dba41"] /* div that shows more posts/replies */
,a[class="css-1jxf684 r-bcqeeo r-1ttztb7 r-qvutc0 r-poiln3 r-1loqt21"] /* hashtags and @ (doesn't work on hovers, but maybe that's fine?) */
,a[class="css-146c3p1 r-bcqeeo r-1ttztb7 r-qvutc0 r-1qd0xha r-a023e6 r-rjixqe r-16dba41 r-1s2bzr4 r-1loqt21"] /* "show all" button on notifications */
,div[class="css-146c3p1 r-bcqeeo r-1ttztb7 r-qvutc0 r-1qd0xha r-a023e6 r-rjixqe r-16dba41"]>span[class="css-1jxf684 r-bcqeeo r-1ttztb7 r-qvutc0 r-poiln3"] span[class="css-1jxf684 r-bcqeeo r-1ttztb7 r-qvutc0 r-poiln3"] /* "and" in notifications when there are hidden @ of accounts */
,button[class="css-146c3p1 r-bcqeeo r-qvutc0 r-1qd0xha r-n6v787 r-1cwl3u0 r-16dba41 r-6koalj r-1w6e6rj r-14gqq1x r-1loqt21 r-fdjqy7"] /* "translate bio" (maybe has more uses?) */
,a[role="link"] /* "view more" in bio + age of tweet on timeline (maybe has more uses?) */
,a[href*="http"] /* any external links */
,button>[class*="css-1jxf684 r-bcqeeo r-1ttztb7 r-qvutc0"] /* any internal links ("show more replies" button) */
,[class="css-146c3p1 r-bcqeeo r-1ttztb7 r-qvutc0 r-1qd0xha r-a023e6 r-rjixqe r-16dba41 r-11f147o"] /* yet another "show more replies" button */
,[class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-lrvibr r-m6rgpd r-1gs4q39 r-10ptun7 r-1janqcz"] /* svg of visibiliy scope on posting button on main timeline */
,button[aria-label][role="button"]>div>span /* reply scope switcher while creating a post */
{
	color: bt !important;
}

}/* moz-document */