/* ==UserStyle==
@name           YoutubeFix
@namespace      https://github.com/unknooly/css-themes
@updateURL      https://github.com/unknooly/css-themes/raw/main/youtubefix.user.css
@version        1.0.7
@description    Fix some stuff on Youtube
@author         Chaos (https://github.com/unknooly)
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com") {

/* left side menu */
ytd-guide-entry-renderer:has([title="Shorts"]) /* Shorts */
,[class="style-scope ytd-guide-renderer"]:nth-of-type(3) /* Explore */
,[class="style-scope ytd-guide-renderer"]:nth-of-type(4) /* MoreFromYoutube */

/* others */
/* ,[class="ytp-miniplayer-ui"] */ /* new miniplayer in test(?) */
,[class="ytp-bezel-text-hide"] /* pause/unpause over-video controller */
,[id="header"][class="style-scope ytd-rich-grid-renderer"] /* content-type filter (all, music, mixes, gaming...) */
,[class="smartimation__border"] /* subcribe button animation */
,[class="ytGridShelfViewModelHost ytd-item-section-renderer ytGridShelfViewModelHostHasBottomButton"] /* shorts on search page */
,[src*="https://www.gstatic.com/youtube/img/promos"]
,ytd-rich-item-renderer:has([class*="badge-style-type-members-only"]) /* featured video */
{
    display: none !important;
}

/* header */
#frosted-glass.with-chipbar.ytd-app
,ytd-masthead[frosted-glass-mode=without-chipbar] #background.ytd-masthead
{
	height: 56px;
	backdrop-filter: none !important;
	background-color: #0f0f0f !important;
	box-shadow: 0px 0px 30px 5px black;
}

/* square thumbs/videos */
[class*="ThumbnailViewModel"]
,[class="ytdMiniplayerComponentContent"]
{
    border-radius: 0 !important;
}

/* hover highlight */
[id="contents"]>[class*="ytd-rich-grid-renderer"]{
    box-shadow: none !important;
    background-color: transparent !important;
}

} /* moz-document */